*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}

body {
  height: 2000px;
}

.container {
  width: 90%;
  margin: auto;
  border: 3px solid black;
  background-color: #eee;
}

.box {
  width: 200px;
  height: 200px;
}

.red {
  background-color: pink;
}

.green {
  background-color: lightgreen;
}

.blue {
  background-color: lightblue;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
    position: fixed;
    overflow: hidden;
    display: block;
}
.container {
    position: relative;
    height: 10%;
}

.green {/* position: relative; */}

.green {
    position: absolute;
}

.box {
    position: absolute;
}

.box.blue {
    left: 221px;
    bottom: -48px;
    z-index: 3;
}

.box.green {
    right: 339px;
    top: -35px;
}

span {
    z-index: 1;
}

.box.orange {
    right: -59px;
    top: 137px;
}

.box.red {
    left: -119px;
    bottom: -68px;
}
.box.yellow {
    position: fixed;
    bottom: 0;
    width: 100%;
}
